<div class="container my-5">
    <form #form="ngForm" (ngSubmit)="addMansion()">
        <br />
        <h1 class="text-primary">Create Mansion</h1>
        <hr />

        <div class="row text-center m-5">
            <div class="col-5"></div>
            <img [src]="addMansionRequest.base64Image" *ngIf="addMansionRequest.base64Image" class="card-img-top w-25" width="10px" height="100px" alt="...">
        </div>
        
        <div class="row">
            <div class="col-2">
                <label for="Name" class="control-label pt-2" style="font-size:20px;">Name</label>
            </div>
            <div class="col-10 pb-3">
                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="addMansionRequest.name">
            </div>

            <div class="col-2">
                <label for="Rate" class="control-label pt-2" style="font-size:20px;">Rate</label>
            </div>
            <div class="col-10 pb-3">
                <input type="text" class="form-control" id="rate" name="rate" [(ngModel)]="addMansionRequest.rate">
            </div>

            <div class="col-2">
                <label for="Details" class="control-label pt-2" style="font-size:20px;">Details</label>
            </div>
            <div class="col-10 pb-3">
                <textarea type="text" id="details" name="details" [(ngModel)]="addMansionRequest.details" class="form-control" rows="5"></textarea>
            </div>

            <div class="col-2">
                <label for="photoUpload" class="control-label pt-2" style="font-size:20px;">Image Upload</label>
            </div>
            <div class="col-10 pb-3">
                <input type="file" (change)="getImage($event)" class="form-control" id="photoUpload" 
                name="photoUpload" #photoUpload="ngModel" required ngModel/>
            </div>

            <div class="col-2">
                <label asp-for="Occupancy" class="control-label pt-2" style="font-size:20px;">Occupancy</label>
            </div>
            <div class="col-10 pb-3">
                <input type="text" class="form-control" id="occupancy" name="occupancy" [(ngModel)]="addMansionRequest.occupancy" />
            </div>

            <div class="col-2">
                <label asp-for="Sqft" class="control-label pt-2" style="font-size:20px;">Sqft</label>
            </div>
            <div class="col-10 pb-3">
                <input type="text" class="form-control" id="occupancy" name="sqft" [(ngModel)]="addMansionRequest.sqft" />
            </div>

            <div class="col-5 offset-2">
                <a routelink="mansion" routerLink="/mansion" class="btn-primary btn form-control">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Create" class="btn btn-success form-control" />
            </div>
        </div>
    </form>
</div>