<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand text-light">Mansion Rent</a>
            <button class="navbar-toggler" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="btn nav-link text-light">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn nav-link text-light" routerLink="mansion">Mansion</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn nav-link text-light" routerLink="mansion-number">Mansion Number</a>
                    </li>
                    <li class="nav-item" *ngIf="!isAuthenticated()">
                        <a class="btn nav-link text-light" routerLink="auth/login">Login</a>
                    </li>
                    <li class="nav-item" *ngIf="!isAuthenticated()">
                        <a class="btn nav-link text-light" routerLink="auth/signup">SignUp</a>
                    </li>
                    <li class="nav-item" *ngIf="isAuthenticated()">
                        <a class="btn nav-link text-light" (click)="logout()">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>